#root {
  display: grid;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 3rem;
}

.table {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px 10px;
}

.briefCard {
  width: 15rem;
  height: 15.5rem;
  overflow: hidden; 
}

.briefCard > img {
  width: inherit;
  transition: 0.2s;
}

.briefCard > img:has( + .briefCard__description:hover) {
  transform: translateY(-13rem);
  opacity: 0%;
}

.briefCard__description {
  height: 17rem;
  transition: 0.2s;

}

.briefCard__description:hover {
  transform: translateY(-13rem);
}

.briefCard__description span {
  font-weight: 600;
}

.extendedCard {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-content: center;
  align-content: center;
}

.extendedCard__content {
  display: grid;
  width: fit-content;
  grid-template-columns: 14rem minmax(14rem, max-content);
  grid-gap: 2rem;
  background-color: var(--pico-background-color);
  padding-right: 2rem;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}
